[project]
name = "sm1"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.7",
    "numpy>=2.3.4",
    "ruff>=0.14.4",
    "sympy>=1.14.0",
    "ty>=0.0.1a26",
]
